<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center" width="100%" height="50">
      <h5 class="card-title ma-1">
        <a href="{% if dev._source.login %}/{{dev._source.login}}{% else %}/?dev={{dev._source.owner_id}}{% endif %}">
          {% if keyword or package %}
          Dev #{{dev._source.id}}
          {% elif dev._source.name %}
          {{dev._source.name}}
          {% elif dev._source.login %}
          {{dev._source.login}}
          {% else %}
          Anonymous Software Engineer
          {% endif %}
        </a>
      </h5>
    </div>
    {% if dev._source.report.first_contributor_commit_date_iso %}
    {% set init = dev._source.report.first_contributor_commit_date_iso | date(format="%Y") | int() %}
    {% elif dev._source.report.date_init %}
    {% set init = dev._source.report.date_init | date(format="%Y") | int() %}
    {% else %}
    {% set init = now() | date(format="%Y") | int() %}
    {% endif %}
    {% set today = now() | date(format="%Y") | int() %}

    <p class="card-subtitle mb-2 text-muted">
      <span class="me-2">
        {% if dev._source.public_repos %}{{dev._source.public_repos}}
        {% elif dev._source.report.projects_included %}{{dev._source.report.projects_included | length}}
        {% else %}some
        {% endif %} projects over
        {% set years = today - init + 1 %}
        {{ years }} year{% if years > 1%}s{% endif %}
      </span>
      {% if dev._source.hireable %}
      <a {% if dev._source.login %} href="/{{dev._source.login}}" {% elif dev._source.owner_id %} href="/?dev={{dev._source.owner_id}}" {% endif %}><span class="badge bg-success">Hire me</span></a>
      {% endif %}
      {% if dev._source.email or dev._source.blog %}
      <a {% if dev._source.login %} href="/{{dev._source.login}}" {% elif dev._source.owner_id %} href="/?dev={{dev._source.owner_id}}" {% endif %} title="Contact me directly"><span class="badge bg-warning">@</span></a>
      {% endif %}
      {% if dev._source.location %}<span class="ms-1">{{dev._source.location | truncate(length=25)}}</span>{% endif %}
    </p>
    
    <ul class="list-inline">
      {# ----- MATCHING LANGUAGES ----- #}
      {% for lang in langs %}
      {% for tech in dev._source.report.tech | sort(attribute="code_lines") | reverse %}
      {% if lang.0 == tech.language | lower %}
      <li class="list-inline-item bg-light text-dark p-1 rounded mb-2 border border-success">
        {{tech.language}}
        <span class="badge bg-white text-dark ms-2 fw-light fw-normal">{{pretty_num(v=tech.total_lines)}}</span>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}

      {# ----- PACKAGES ----- #}
      {% for kw in keywords %}
      {% set_global kw_cnt = 0 %}

      {% for tech in dev._source.report.tech %}

      {% if tech.refs %}
      {% for ref in tech.refs %}
      {% set ref_k = ref.k | lower %}
      {% if ref_k is containing(kw) %}
      {% set_global kw_cnt = kw_cnt + ref.c %}
      {% endif %}
      {% endfor %}
      {% endif %}

      {% if tech.pkgs %}
      {% for ref in tech.pkgs %}
      {% set ref_k = ref.k | lower %}
      {% if ref_k is containing(kw) %}
      {% set_global kw_cnt = kw_cnt + ref.c %}
      {% endif %}
      {% endfor %}
      {% endif %}

      {% endfor %}

      <li class="list-inline-item bg-light text-dark p-1 rounded mb-2 border border-success">
        {{kw}}
        <span class="badge bg-white text-dark ms-2 fw-light normal">{{pretty_num(v=kw_cnt)}}</span>
      </li>

      {% endfor %}

      {# ----- OTHER LANGUAGES ----- #}
      {% for tech in dev._source.report.tech | sort(attribute="code_lines") | reverse %}
      {% set_global incl_lang = true %}
      {% for lang in langs %}
      {% if lang.0 == tech.language | lower %}
      {% set_global incl_lang = false %}
      {% break %}
      {% endif %}
      {% endfor %}
      {% if incl_lang %}
      <li class="list-inline-item bg-light text-dark p-1 rounded mb-2 border">
        {{tech.language}}
        <span class="badge bg-white text-dark ms-2 fw-light">{{pretty_num(v=tech.total_lines)}}</span>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

  </div>
</div>