<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-4">
        <h2><small>Valid search examples</small></h2>
          <ul>
            <li class="my-3"><a title="Click to try this search" style="text-decoration: none;" href="/?c%23 imagemagick unity"><span class="border rounded border-secondary p-1 text-secondary"><strong>c# imagemagick unity</strong></span></a> - developers using <i>C#</i> with <i>Unity</i> and <i>ImageMagick</i></li>
            <li class="my-3"><a title="Click to try this search" style="text-decoration: none;" href="/?c%23 imagemagick prism.unity"><span class="border rounded border-secondary p-1 text-secondary">c# imagemagick <strong>prism.unity</strong></span></a> - a search for developers using <i>prism.unity</i> package with other keywords</li>
            <li class="my-3"><a title="Click to try this search" style="text-decoration: none;" href="/?rust"><span class="border rounded border-secondary p-1 text-secondary"><strong>rust</strong></span></a> - developers with Rust experience</li>
            <li class="my-2"><a href="/_related/?imagemagick">https://stackmuncher.com<strong>/_related/?imagemagick</strong></a> - list of packages and APIs related to <i>imagemagick</i></li>
            <li class="my-2"><a href="/rimutaka">https://stackmuncher.com<strong>/rimutaka</strong></a> - a developer profile for <i>rimutaka</i></li>
            <li class="my-2"><a href="/robots.txt">https://stackmuncher.com<strong>/robots.txt</strong></a> - info for bots</li>
          </ul>
          <p class="mt-4">All 404 errors are logged, but <a href="mailto:info@stackmuncher.com">do let us know</a> if you think something is broken.</p>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-4">
        <main role="main">
          <h1 style="text-align:center;" class="pe-md-5 text-muted w-100"><small>Page not found</small><br /><span style="font-size:400%; font-weight:600;">404</span></h1>
        </main>
      </div>

      

      <div class="col-md-1"></div>

    </div>
  </div>
</body>

</html>