<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row">
      {% if devs.hits.hits | length > 0 %}
      <div class="col-md-3">
        {% for hit in devs.hits.hits %}
        {% set user = hit._source %}

        <h1><small>{% if user.name %}{{user.name}}{% elif user.login %}{{user.login}}{% else %}Anonymous{% endif %}</small></h1>
        <h5><small>Software Developer</small></h5>

        <ul class="mt-3 ps-3">
          {% if user.hireable %}
          <li class="mb-1"><strong><span class="badge bg-success">Open to work</span></strong></li>
          {% endif %}
          {% if user.location %}
          <li class="mb-1"><strong>Location</strong>: {{user.location}}</li>
          {% endif %}
          {% if user.company %}
          <li class="mb-1"><strong>Company</strong>: {{user.company}}</li>
          {% endif %}
          {% if user.login %}
          <li class="mb-1"><strong>Github</strong>: <a href="https://github.com/{{user.login}}">{{user.login}}</a></li>
          {% endif %}
          {% if user.blog %}
          <li class="mb-1">
            <div class="text-truncate"><strong>Website</strong>: <a class="text-truncate" href="{% if user.blog is not starting_with('http') %}//{% endif %}{{user.blog}}">{{user.blog}}</a></div>
          </li>
          {% endif %}
          {% if user.email %}
          <li class="mb-1"><strong>Email</strong>: {{user.email}}</li>
          {% endif %}

          {% if devs.hits.hits[0]._source.report.last_contributor_commit_date_iso %}
          {% set last_active = devs.hits.hits[0]._source.report.last_contributor_commit_date_iso | date(format="%b %Y") %}
          {% elif devs.hits.hits[0]._source.report.date_head %}
          {% set last_active = devs.hits.hits[0]._source.report.date_head | date(format="%b %Y") %}
          {% endif %}

          {% if devs.hits.hits[0]._source.report.first_contributor_commit_date_iso %}
          {% set init = devs.hits.hits[0]._source.report.first_contributor_commit_date_iso | date(format="%Y") | int() %}
          {% elif devs.hits.hits[0]._source.report.date_init %}
          {% set init = devs.hits.hits[0]._source.report.date_init | date(format="%Y") | int() %}
          {% else %}
          {% set init = now() | date(format="%Y") | int() %}
          {% endif %}

          {% set today = now() | date(format="%Y") | int() %}
          <li class="mb-1"><strong>Code history</strong>: {% if today == init %}
            &lt; 1 year
            {% else %}
            {{ today - init + 1 }} years
            {% endif %}
          </li>
          {% if last_active %}<li class="mb-1"><strong>Last commit</strong>: {{ last_active }}</li>{% endif %}
          <li class="mb-1"><strong>Report updated</strong>:
            {{ user.report.timestamp | date(format="%d %b %Y") }}
          </li>
        </ul>

        {% if user.report.commit_time_histo %}
        {% if user.report.commit_time_histo.timezone_overlap_recent %}
        {% set histo = user.report.commit_time_histo.timezone_overlap_recent %}
        {% set histo_sum = user.report.commit_time_histo.histogram_recent_sum %}
        {% else %}
        {% set histo = user.report.commit_time_histo.timezone_overlap_all %}
        {% set histo_sum = user.report.commit_time_histo.histogram_all_sum %}
        {% endif %}
        <h5 class="mt-3 mb-1"><small>Timezone availability</small></h5>
        <table style="font-size: 0.8em" class="ms-3">
          <tr title="New Zealand">
            <th>New Zealand</th>
            <td class="px-3 text-muted">UTC +12</td>
            <td>{% if histo.h12 %}{{histo.h12}} hrs{% endif %}</td>
          </tr>
          <tr title="Australian Eastern Time">
            <th>Australia (East)</th>
            <td class="px-3 text-muted">UTC +10</td>
            <td>{% if histo.h10 %}{{histo.h10}} hrs{% endif %}</td>
          </tr>
          <tr title="Japan Standard Time, Korean Standard Time">
            <th>Japan, Korea</th>
            <td class="px-3 text-muted">UTC +9</td>
            <td>{% if histo.h09 %}{{histo.h09}} hrs{% endif %}</td>
          </tr>
          <tr title="Australian Western Standard Time, China Standard Time, Philippine Time, Singapore Standard Time">
            <th>Australia (West)</th>
            <td class="px-3 text-muted">UTC +8</td>
            <td>{% if histo.h08 %}{{histo.h08}} hrs{% endif %}</td>
          </tr>
          <tr title="Indian Standard Time, Pakistan Standard Time">
            <th>India, Pakistan</th>
            <td class="px-3 text-muted">UTC +5</td>
            <td>{% if histo.h05 %}{{histo.h05}} hrs{% endif %}</td>
          </tr>
          <tr title="Moscow Time">
            <th>Russia (West)</th>
            <td class="px-3 text-muted">UTC +3</td>
            <td>{% if histo.h03 %}{{histo.h03}} hrs{% endif %}</td>
          </tr>
          <tr title="Eastern European Time, South African Standard Time">
            <th>Europe (East)</th>
            <td class="px-3 text-muted">UTC +2</td>
            <td>{% if histo.h02 %}{{histo.h02}} hrs{% endif %}</td>
          </tr>
          <tr title="Central European Time">
            <th>Europe (Central)</th>
            <td class="px-3 text-muted">UTC +1</td>
            <td>{% if histo.h01 %}{{histo.h01}} hrs{% endif %}</td>
          </tr>
          <tr title="Greenwich Mean Time">
            <th>Europe (West)</th>
            <td class="px-3 text-muted">UTC</td>
            <td>{% if histo.h00 %}{{histo.h00}} hrs{% endif %}</td>
          </tr>
          <tr title="Argentina Time, Brasília Time">
            <th>Argentina, Brasil</th>
            <td class="px-3 text-muted">UTC -3</td>
            <td>{% if histo.h21 %}{{histo.h21}} hrs{% endif %}</td>
          </tr>
          <tr title="Eastern Standard Time (North America)">
            <th>US (East)</th>
            <td class="px-3 text-muted">UTC -5</td>
            <td>{% if histo.h19 %}{{histo.h19}} hrs{% endif %}</td>
          </tr>
          <tr title="Central Standard Time (North America)">
            <th>US (Central)</th>
            <td class="px-3 text-muted">UTC -6</td>
            <td>{% if histo.h18 %}{{histo.h18}} hrs{% endif %}</td>
          </tr>
          <tr title="Mountain Standard Time (North America)">
            <th>US (Mountain)</th>
            <td class="px-3 text-muted">UTC -7</td>
            <td>{% if histo.h17 %}{{histo.h17}} hrs{% endif %}</td>
          </tr>
          <tr title="Pacific Standard Time (North America)">
            <th>US (Pacific)</th>
            <td class="px-3 text-muted">UTC -8</td>
            <td>{% if histo.h16 %}{{histo.h16}} hrs{% endif %}</td>
          </tr>
          <tr title="Hawaii Standard Time">
            <th>Hawaii</th>
            <td class="px-3 text-muted">UTC -10</td>
            <td>{% if histo.h14 %}{{histo.h14}} hrs{% endif %}</td>
          </tr>
        </table>
        <p class="ms-3 text-muted"><small><i>Based on time of {{histo_sum}} recent commits.</i></small></p>
        {% endif %}

      </div>
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table mt-4 table-striped">
            <thead>
              <tr>
                <th scope="col">Language</th>
                <th scope="col" class="text-end text-nowrap ps-5">File count</th>
                <th scope="col" class="text-end text-nowrap ps-5">Lines of code</th>
                <th scope="col" class="text-end text-nowrap ps-5">Libraries</th>
                <th scope="col" class="text-end text-nowrap ps-5">Doco comments</th>
                <th scope="col" class="text-end text-nowrap ps-5">Inline comments</th>
                <th scope="col" style="width:100%"></th>
              </tr>
            </thead>
            <tbody>
              {% for tech in user.report.tech | sort(attribute="total_lines") | reverse %}

              {% if tech.pkgs %}
              {% set pkgs = tech.pkgs | length %}
              {% else %}
              {% set pkgs = 0 %}
              {% endif %}
              {% if tech.refs %}
              {% set refs = tech.refs | length %}
              {% else %}
              {% set refs = 0 %}
              {% endif %}

              {% set libs = pkgs + refs %}
              <tr>
                <td scope="row"><strong>{{tech.language}}</strong></td>
                <td class="text-end me-2">{{tech.files}}</td>
                <td class="text-end me-2">{{tech.code_lines}}</td>
                <td class="text-end me-2">{% if libs > 0 %}{{libs}}{% endif %}</td>
                <td class="text-end me-2">{% if tech.docs_comments > 0 %}{{tech.docs_comments}}{% endif %}</td>
                <td class="text-end me-2">{% if tech.line_comments > 0 %}{{tech.line_comments}}{% endif %}</td>
                <td scope="col" style="width:100%"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% if user.report.projects_included %}
        {% if user.name %}{% set dev_name = user.name %}{% elif user.login %}{% set dev_name = user.login %}{% else %}{% set dev_name = "this developer" %}{% endif %}
        <h3 class="mt-4">Projects</h3>
        <ul class="list-inline">
          {% for proj in user.report.projects_included %}
          {% if proj.loc > 0 %}
          <li class="pe-4 mb-4 .text-nowrap list-inline-item">
            <div class="card" style="width: 21rem;">
              <div class="card-body">
                <h6 class="card-title">
                  <a {% if proj.github_user_name %} href="https://github.com/{{proj.github_user_name}}/{{proj.project_name}}" {% elif user.login %} href="https://github.com/{{user.login}}/{{proj.project_name}}" {% elif proj.project_id %} href="/?project={{proj.project_id}}" {% endif %} title="Lines of code: {{proj.loc}}, libraries: {{proj.libs}}. View the details.">
                    {% if user.login and proj.github_user_name and user.login != proj.github_user_name %}{{proj.github_user_name | truncate(length=50)}}/{% endif %}{{proj.project_name | truncate(length=50)}}
                  </a>
                </h6>
                <div class="card-subtitle mb-2 text-muted">
                  <span title="{{proj.loc}} lines of code from {{dev_name}}{% if proj.loc_project %}. Project size: {{proj.loc_project}} lines{% endif %}" class="loc-badge">{{proj.loc}}</span>
                  {% if proj.commit_count %}<span title="Commits made by {{dev_name}}" class="commits-badge ms-3">{{proj.commit_count}}</span>{% endif %}
                  {% if proj.ppl %}<span title="Total number of committers" class="team-badge ms-3">{{proj.ppl}}</span>{% endif %}

                  {% if proj.contributor_first_commit %}
                  {% set date_init = proj.contributor_first_commit | date(format="%b %Y") %}
                  {% elif proj.date_init %}
                  {% set date_init = proj.date_init | date(format="%b %Y") %}
                  {% endif %}

                  {% if proj.contributor_last_commit %}
                  {% set date_head = proj.contributor_last_commit | date(format="%b %Y") %}
                  {% elif proj.date_head %}
                  {% set date_head = proj.date_head | date(format="%b %Y") %}
                  {% endif %}

                  {% if date_init and date_head and date_init != date_head %}
                  <span title="Date range of commits from {{dev_name}}" class="calendar-badge ms-3"><small>{{date_init}} - {{date_head}}</small></span>
                  {% elif date_head %}
                  <span title="Date of the last commit from {{dev_name}}" class="calendar-badge ms-3"><small>{{date_head}}</small></span>
                  {% endif %}
                </div>
                <p class="card-text">{{proj.tech | sort(attribute="loc") | reverse | slice(end=3) | map(attribute="language") | join(sep=", ")}}</p>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}

        {% for tech in user.report.tech %}

        {% if tech.refs and tech.refs | length > 0 %}
        {% set_global refs = tech.refs %}
        {% elif tech.pkgs and tech.pkgs | length > 0 %}
        {% set_global refs = tech.pkgs %}
        {% else %}
        {% set_global refs = [] %}
        {% endif %}

        {% if refs | length > 0 %}
        {% set col = refs | length / 2 | int() %}
        <h3 class="mt-4">{{tech.language}} Libraries</h3>
        <div class="row">

          <div class="col-lg-6">

            <dl class="row mb-0">
              <dt class="col-10 text-truncate">
                <strong>Name</strong>
              </dt>
              <dd class="col-2 text-end">
                <strong>Times used</strong>
              </dd>
              {% for ref in refs | sort(attribute="k") | slice(start=0, end=col+1) %}
              <dt class="col-10 text-truncate">
                <a href="/?{{tech.language | urlencode}} {{ref.k}}">{{ref.k}}</a>
              </dt>
              <dd class="col-2 text-end pe-3">
                <small>{{ref.c}}</small>
              </dd>
              {% endfor %}
            </dl>
          </div>

          <div class="col-lg-6">
            <dl class="row mb-0">
              <dt class="col-10 text-truncate d-none d-lg-block">
                <strong>Name</strong>
              </dt>
              <dd class="col-2 text-end d-none d-lg-block">
                <strong>Times used</strong>
              </dd>
              {% for ref in refs | sort(attribute="k") | slice(start=col+1) %}
              <dt class="col-10 text-truncate">
                <a href="/?{{tech.language | urlencode}} {{ref.k}}">{{ref.k}}</a>
              </dt>
              <dd class="col-2 text-end pe-3">
                <small>{{ref.c}}</small>
              </dd>
              {% endfor %}
            </dl>
          </div>
        </div>
        {% endif %}
        {% endfor %}

        {% if user.report.file_types %}
        <h3 class="mt-4">File types</h3>
        <ul class="list-inline">
          {% for ftype in user.report.file_types | sort(attribute="k") %}
          <li class="list-inline-item bg-light text-dark py-0 ps-1 rounded mb-2 border">{{ftype.k}}
            <span class="badge bg-white text-dark ms-2" style="font-weight: 300;">{{ftype.c}}</span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% endfor %}
      </div>
      {% else %}
      <h1 class="mt-3 ms-3">User not found</h1>
      {% endif %}
    </div>
  </div>

  {% include "includes/footer.html" %}

</body>

</html>