<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body class="pb-5">
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-lg-8 col-md-10 col-xs-12 col-xxl-6">
        <h1 class="display-6">Open Directory of Software Developers</h1>
        <div class="d-flex mt-4">
          <input class="form-control me-2" type="search" title="Find devs working with a particular language, library or API, e.g. C# + Twilio + Azure." value="{{raw_search}}" id="kw" minlength="1" maxlength="100" onkeydown="if (event.keyCode===13) document.getElementById('btn').click()">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="btn" autocomplete="off" onclick="const v=document.getElementById('kw'); if (v.validity.valid) window.location.href='/?'+encodeURIComponent(v.value)">Search</button>
        </div>

        <div class="mt-4 ps-0 mx-md-4 ps-md-2 text-muted">
          <ul class="mb-1 ps-3 ps-md-4">
            <li>example: <code>typescript vuejs apollo</code></li>
            <li>filter by number of lines of code: <code>typescript:10000 vuejs apollo</code></li>
            <li>filter by timezone availability: <code> 4hrs@utc-5 typescript:10000 vuejs apollo</code></li>
          </ul>
          <p class="mt-0 mx-2 mx-md-4">Learn more about the <a title="Detailed explanation and examples of effective developer search" href="/about/posts/search-syntax">search syntax</a> and <a title="Explained from the software developer's perspective" href="/about/posts/how-to-find-the-right-software-developer">how to find the right developer for your project</a>.</p>
        </div>


        <ul class="mt-5 list-inline">
          {% for tech in stack_stats.aggregations.agg.buckets | sort(attribute="key") %}
          {% if tech.doc_count > 1000 %}
          <li class="list-inline-item bg-light text-dark p-1 rounded mb-2 border me-4"><a title="{{tech.key}} developers" style="text-decoration: none;" class="text-dark" href="/?{{tech.key | urlencode}}">
              {{tech.key}}
              <span class="badge bg-white text-dark ms-2" style="font-weight: 300;">{{pretty_num(v=tech.doc_count)}}</span></a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>

        <h6 class="mt-4"><strong>About StackMuncher</strong></h6>
        <p>StackMuncher analyses Git repositories to identify technology stack of software developers. The data includes analysis of private repositories via <a title="StackMuncher developer profile builder app" href="https://github.com/stackmuncher/stm_app">StackMuncher App</a> and public repositories from GitHub.</p>

      </div>

    </div>
  </div>

  {% include "includes/footer.html" %}

</body>

</html>