<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body class="pb-5">
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-lg-8 col-md-10 col-xs-12 col-xxl-6">
        <h1>Open Directory of Software Developers</h1>
        <div class="d-flex mt-4">
          <input class="form-control me-2" type="search" title="Find devs working with a particular language, library or API, e.g. C# + Twilio + Azure." value="{{raw_search}}" id="kw" minlength="1" maxlength="100" onkeydown="if (event.keyCode===13) document.getElementById('btn').click()">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="btn" autocomplete="off" onclick="const v=document.getElementById('kw'); if (v.validity.valid) window.location.href='/?'+encodeURIComponent(v.value)">Search</button>
        </div>
        <p class="mb-5 text-muted mt-2">Enter one or more languages, frameworks, libraries or APIs. E.g. <code>typescript vuejs apollo</code> or <code>c# sql cosmos</code></p>

        <h6 class="mt-5"><strong>Developers per language</strong></h6>
        <ul class="list-inline">
          {% for tech in stack_stats.aggregations.agg.buckets | sort(attribute="key") %}
          {% if tech.doc_count > 1000 %}
          {% for tech_lang in all_langs %}
          {% if tech.key == tech_lang | lower %}
          <li class="list-inline-item bg-light text-dark p-1 rounded mb-2 border me-4"><a title="{{tech.key}} developers" style="text-decoration: underline #6c757d;" class="text-dark" href="/?{{tech.key | urlencode}}">
              {{tech_lang}}
              <span class="badge bg-white text-dark ms-2" style="font-weight: 300;">{{pretty_num(v=tech.doc_count)}}</span></a>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </ul>

        <h6 class="mt-4"><strong>About StackMuncher</strong></h6>
        <p>StackMuncher matches software developers to new work opportunities. It is an open source project based on data from analyses of public and private Git repositories via <a title="StackMuncher developer profile builder app" href="https://github.com/stackmuncher/stm_app">StackMuncher App</a>.</p>

      </div>

    </div>
  </div>

  {% include "includes/footer.html" %}

</body>

</html>