{% set used_terms = keywords_meta | filter(attribute="unknown", value=false) %}
{% set used_terms = used_terms | filter(attribute="too_many", value=false) %}
{% set ignored_terms = keywords_meta | filter(attribute="too_many", value=true) %}
{% set unknown_terms = keywords_meta | filter(attribute="unknown", value=true) %}

<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row {% if not devs or devs.hits.hits | length == 0 %}align-items-center{% endif %}">
      <div class="col-md-4 col-lg-3">

        <h1>
          {% if used_terms | length > 0 %}
          Software developers using
          {% else %}
          Unknown keywords
          {% endif %}
          {% for kw in used_terms %}
          {% if kw.es_language_count > 0 %}
          <code><a style="color:inherit;" href="/_related?{{kw.search_term | urlencode }}" title="At least {{kw.es_language_count}} devs use this language. Click to explore related keywords.">{{kw.search_term}}</a></code>
          {% else %}
          <code><a style="color:inherit;" href="/_related?{{kw.search_term | urlencode }}" title="At least {{kw.es_keyword_count + kw.es_package_count}} devs match this keyword. Click to explore related keywords.">{{kw.search_term}}</a></code>
          {% endif %}
          {% if not loop.last %}+{% endif %}
          {% endfor %}
        </h1>

        <ul class="mt-4">
          {% if availability_tz and availability_tz_hrs %}
          <li class="mt-1"><strong>Minimum <a href="https://en.wikipedia.org/wiki/{{availability_tz}}:00" title="Minimum hours developers are available in this timezone. Calculated from their recent commit time.">{{ availability_tz }}</a> availability: </strong>{{ availability_tz_hrs }}hrs</li>
          {% endif %}

          {% for kw in used_terms %}
          {% if kw.search_term_loc > 0 and kw.es_language_count > 0 %}
          <li class="mb-2"><strong>Experience level:</strong>
            <ul>
              {% break %}
              {% endif %}
              {% endfor %}
              {% for kw in used_terms %}
              {% if kw.search_term_loc > 0 and kw.es_language_count > 0 %}
              <li>{{kw.search_term}} {{pretty_num(v=kw.search_term_loc)}} LoC</li>
              {% endif %}
              {% endfor %}
              {% for kw in used_terms %}
              {% if kw.search_term_loc > 0 and kw.es_language_count > 0 %}
            </ul>
          </li>
          {% break %}
          {% endif %}
          {% endfor %}

          {% if unknown_terms | length > 0 or ignored_terms | length > 0 %}
          <li class="mt-1"><strong>Excluded keywords:</strong>
            {% if unknown_terms | length > 0 %}
            {% for kw in unknown_terms %}
            <code class="me-2"><a class="text-muted" href="/_related?{{kw.search_term | urlencode }}" title="An unknown keyword. Click to search for related keywords">{{kw.search_term}}</a></code>
            {% endfor %}
            {% endif %}

            {% if ignored_terms | length > 0 %}
            {% for kw in ignored_terms %}
            <code><a class="text-muted" href="/_related?{{kw.search_term | urlencode }}" title="Too many keywords in the search. Click to search for related keywords">{{kw.search_term}}</a></code>
            {% endfor %}
            {% endif %}
          </li>
          {% endif %}

          <li class="mt-1"><strong>Total matches:</strong>
            {% if devs %}
            {% if devs.hits.total.value > 9999 %}
            more than
            {% endif %}
            {{pretty_num(v=devs.hits.total.value)}}
            {% else %}
            0
            {% endif %}
          </li>

        </ul>

        {% if used_terms | length > 0 %}
        <p class="text-muted">Click on keywords in the title to explore related terms.</p>
        {% endif %}

        {% if devs and devs.hits.hits | length > 0 %}

        {% if langs | length > 0 %}
        <h6 class="mt-4"><strong>Hiring a {{langs.0.0}} software developer?</strong></h6>
        {% else %}
        <h6 class="mt-4"><strong>Hiring a software developer?</strong></h6>
        {% endif %}

        <p>StackMuncher developer search is a free service to help developers and employers connect.</p>
        <p>You are welcome to <a href="mailto:info@stackmuncher.com">send us your job requirements</a> for a more detailed database search.</p>
        {% endif %}

      </div>

      {% if devs and devs.hits.hits | length > 0 %}
      <div class="col-md-8 col-lg-9">
        <main role="main">
          <div class="row">
            {% for dev in devs.hits.hits %}
            <div class="col-xl-4 col-lg-6">
              {% include "includes/dev-card.html" %}
            </div>
            {% endfor %}
          </div>

          <div class="row justify-content-center">
            <div class="col-lg-10 col-xxl-8">
              <h4 class="mt-5">Find more software developers by modifying your search terms</h4>
              <ol class="mt-3">
                <li>
                  <h6 class="mt-2">Explore related keywords and library names for
                    {% for kw in used_terms %}
                    <a href="/_related?{{kw.search_term | urlencode }}" title="At least {{kw.es_language_count}} devs use this language.">{{kw.search_term}}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                  </h6>
                </li>
                <li>
                  <h6 class="mt-2">Set minimum number of lines of code per computer language, e.g. <code>typescript:10000 vuejs apollo</code></h6>
                </li>
                <li>
                  <h6 class="mt-2">Filter by timezone availability: <code> 4hrs@utc-5 typescript:10000 vuejs apollo</code></h6>
                </li>
              </ol>
              <p>Check more <a title="Detailed explanation and examples of effective developer search" href="/about/posts/software-developer-search-syntax/">effective search examples</a> or repeat this search in 10 minutes to see new additions.</p>
            </div>
          </div>




        </main>
      </div>
      {% else %}
      <div class="col-md-1"></div>
      <div class="col-md-6 text-center">
        <main role="main">
          <h2 class="pe-md-5 text-muted">Could not find anyone with these exact skills</h2>
          {% if keywords_meta | length > 1 %}
          <p class="mt-4">Try fewer keywords or a different combination.</p>
          {% else %}
          <p class="mt-4">Try a different keyword.</p>
          {% endif %}
        </main>
      </div>
      <div class="col-md-1"></div>
      {% endif %}

    </div>
  </div>

  {% include "includes/footer.html" %}

</body>

</html>