<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row {% if not devs or devs.hits.hits | length == 0 %}align-items-center{% endif %}">
      <div class="col-md-4 col-lg-3">

        <h1>
          {% set used_terms = keywords_meta | filter(attribute="unknown", value=false) %}
          {% set used_terms = used_terms | filter(attribute="too_many", value=false) %}
          {% set ignored_terms = keywords_meta | filter(attribute="too_many", value=true) %}
          {% set unknown_terms = keywords_meta | filter(attribute="unknown", value=true) %}

          <small>
            {% if used_terms | length > 0 %}
            Software developers using
            {% else %}
            Unknown keywords
            {% endif %}
            {% for kw in used_terms %}
            {% if kw.es_language_count > 0 %}
            <code><a style="color:inherit;" href="/_related?{{kw.search_term | urlencode }}" title="At least {{kw.es_language_count}} devs use this language. Click to explore related keywords.">{{kw.search_term}}</a></code>
            {% else %}
            <code><a style="color:inherit;" href="/_related?{{kw.search_term | urlencode }}" title="At least {{kw.es_keyword_count + kw.es_package_count}} devs match this keyword. Click to explore related keywords.">{{kw.search_term}}</a></code>
            {% endif %}
            {% if not loop.last %}+{% endif %}
            {% endfor %}
          </small>
        </h1>

        {% if availability_tz and availability_tz_hrs %}
        <h6 class="mt-4"><strong>Minimum <a href="https://en.wikipedia.org/wiki/{{availability_tz}}:00" title="Minimum hours developers are available in this timezone. Calculated from their recent commit time.">{{ availability_tz }}</a> availability: </strong>{{ availability_tz_hrs }}hrs</h6>
        {% endif %}

        {% if unknown_terms | length > 0 or ignored_terms | length > 0 %}
        <h6><strong>Excluded keywords:</strong></h6>
        <ul class="ps-3">
          {% if unknown_terms | length > 0 %}
          <li class="mb-1">
            {% for kw in unknown_terms %}
            <code><a class="text-muted" href="/_related?{{kw.search_term | urlencode }}" title="Click to search for related keywords">{{kw.search_term}}</a></code>
            {% endfor %}
            <span class="text_muted"> (unknown)</span>
          </li>
          {% endif %}

          {% if ignored_terms | length > 0 %}
          <li class="mb-1">
            {% for kw in ignored_terms %}
            <code><a class="text-muted" href="/_related?{{kw.search_term | urlencode }}" title="Click to search for related keywords">{{kw.search_term}}</a></code>
            {% endfor %}
            <span class="text_muted"> (too many keywords)</span>
          </li>
          {% endif %}

        </ul>
        {% endif %}

        <h6 class="mt-4"><strong>Total matches:</strong>
          {% if devs %}
          {% if devs.hits.total.value > 9999 %}
          more than
          {% endif %}
          {{devs.hits.total.value}}
          {% else %}
          0
          {% endif %}
        </h6>

        {% include "includes/truncated_search_msg.html" %}

        {% if devs and devs.hits.hits | length > 0 %}
        <h6 class="mt-4"><strong>Hiring a software developer?</strong></h6>
        <p>Click on individual profiles to see developer skills analysis and contact details.</p>
        <p>Some developers prefer to be contacted by registered users only and have no contact details in their public profiles. More <a href="/about/employers/">for employers ...</a></p>
        {% endif %}

      </div>

      {% if devs and devs.hits.hits | length > 0 %}
      <div class="col-md-8 col-lg-9">
        <main role="main">
          <div class="row">
            {% for dev in devs.hits.hits %}
            <div class="col-lg-4">
              {% include "includes/dev-card.html" %}
            </div>
            {% endfor %}
          </div>
          {% include "includes/truncated_search_msg.html" %}
        </main>
      </div>
      {% else %}
      <div class="col-md-1"></div>
      <div class="col-md-6 text-center">
        <main role="main">
          <h2 class="pe-md-5 text-muted">Could not find anyone with these exact skills</h2>
          {% if keywords_meta | length > 1 %}
          <p class="mt-4">Try fewer keywords or a different combination.</p>
          {% else %}
          <p class="mt-4">Try a different keyword.</p>
          {% endif %}
        </main>
      </div>
      <div class="col-md-1"></div>
      {% endif %}

    </div>
  </div>

  {% include "includes/footer.html" %}

</body>

</html>