{% set used_terms = keywords_meta | filter(attribute="unknown", value=false) %}
{% set used_terms = used_terms | filter(attribute="too_many", value=false) %}
{% set ignored_terms = keywords_meta | filter(attribute="too_many", value=true) %}
{% set unknown_terms = keywords_meta | filter(attribute="unknown", value=true) %}

<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row {% if not devs or devs.hits.hits | length == 0 %}align-items-center{% endif %}">
      <div class="col-md-4 col-lg-3 mb-5">

        <h1>
          <small>
            Organizations using
            {% for kw in used_terms %}
            {% if loop.first %}{% elif loop.last %} and {% else%},{% endif %}
            {% if kw.es_language_count > 0 %}
            {{kw.search_term_fmt}}
            {% else %}
            <code><a style="color:inherit;" href="/_related?{{kw.search_term | urlencode }}" title="Click to explore related keywords.">{{kw.search_term}}</a></code>
            {% endif %}
            {% endfor %}
          </small>
        </h1>

        <ul class="mt-4">
          {% if unknown_terms | length > 0 or ignored_terms | length > 0 %}
          <li class="mt-1"><strong>Excluded keywords:</strong>
            {% if unknown_terms | length > 0 %}
            {% for kw in unknown_terms %}
            <code class="me-2"><a class="text-muted" href="/_related?{{kw.search_term | urlencode }}" title="An unknown keyword. Click to search for related keywords">{{kw.search_term}}</a></code>
            {% endfor %}
            {% endif %}

            {% if ignored_terms | length > 0 %}
            {% for kw in ignored_terms %}
            <code><a class="text-muted" href="/_related?{{kw.search_term | urlencode }}" title="Too many keywords in the search. Click to search for related keywords">{{kw.search_term}}</a></code>
            {% endfor %}
            {% endif %}
          </li>
          {% endif %}

          <li class="mt-1"><strong>Matches found:</strong>
            {% if devs %}
            {% if devs.hits.total.value > 9999 %}
            more than
            {% endif %}
            {{pretty_num(v=devs.hits.total.value)}}
            {% else %}
            0
            {% endif %}
          </li>

        </ul>

        {# ----- SEARCH FORM ----- #}
        <div class="row g-2 align-items-center mb-4">
          <div class="col-12">
            <hr style="border: 0; border-bottom: 1px dotted #ccc; background: #999;" />
          </div>
          <div class="col-12">
            <label for="search_lang" class="form-label fw-bold text-muted">Language</label>
          </div>
          <div class="col-6">
            <select class="form-select form-select-sm" id="search_lang" aria-label="Select a language">
              <option {% if langs | length==0 %}selected{% endif %}></option>
              {% for l in all_langs %}
              <option value="{{l | lower}}" {% if langs | length> 0 and langs[0].0 == l | lower %}selected{% endif %}>{{l}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-6">
            <script>
              function do_search() {
                let q = document.getElementById('search_lang').value;
                window.location.href = '/orgs/?' + encodeURIComponent(q.trim());
              }
            </script>
            <button class="btn btn-sm btn-success my-2 my-sm-0" type="button" id="btn" autocomplete="off" onclick="do_search()" title="Find organizations using this language">Find organizations</button>

          </div>
        </div>

        {% if devs and devs.hits.hits | length > 0 %}

        {% if langs | length > 0 %}
        <h6 class="mt-5">
          <strong>Looking for
            {% for l in all_langs %}
            {% if langs | length> 0 and langs[0].0 == l | lower %}{{l}}{% endif %}
            {% endfor %}
            work?
          </strong>
        </h6>
        {% else %}
        <h6 class="mt-5"><strong>Looking for specialist software development work?</strong></h6>
        {% endif %}

        <p>StackMuncher developer search is a free service to help developers and employers connect.</p>
        <p><a href="https://github.com/stackmuncher/stm_app">Sign up</a> to be notified when someone is looking for your set of skills with an offer matching your expectations.</p>
        {% endif %}

      </div>

      {% if devs and devs.hits.total.value > 0 %}
      <div class="col-md-8 col-lg-9">
        <main role="main">
          {# ----- LIST OF DEVS ----- #}
          <div class="row">
            {% for dev in devs.hits.hits %}
            <div class="col-12" title="Number of years in use and the LoC across all projects">
              {% include "includes/org-card.html" %}
            </div>
            {% endfor %}
          </div>
        </main>
      </div>

      {# ----- PAGINATION SECTION ----- #}
      <div class="row justify-content-center mt-4">
        <div class="col-lg-10 col-xxl-8">
          {# Max 20 pages per search #}
          {% set page_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] %}
          {# The last page number for this result set based on how many devs found and how many per page #}
          {% set last_page = devs.hits.total.value / devs_per_page %}
          {% if last_page | int != last_page %}
          {% set last_page = last_page + 1 | int %}
          {% endif %}

          {% if last_page > 1 %}
          <ul class="list-inline text-center">
            {% for page_link_num in page_list | slice(end=last_page) %}
            {% if page_link_num == page_number %}
            <li class="list-inline-item">{{page_link_num}}</li>
            {% else %}
            <li class="list-inline-item"><a href="/orgs/?{{raw_search | urlencode}} p:{{page_link_num}}">{{page_link_num}}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>

      {% else %}
      <div class="col-md-1"></div>
      <div class="col-md-6 text-center">
        <main role="main">
          <h2 class="pe-md-5 text-muted">Could not find any organizations with this exact stack</h2>
          {% if keywords_meta | length > 1 %}
          <p class="mt-4">Try fewer keywords or a different combination.</p>
          {% else %}
          <p class="mt-4">Try a different keyword.</p>
          {% endif %}
        </main>
      </div>
      <div class="col-md-1"></div>
      {% endif %}

    </div>
  </div>

  {% include "includes/footer.html" %}

</body>

</html>