<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row {% if related | length == 0 %}align-items-center{% endif %}">
      <div class="col-md-6 col-lg-4">
        <h1><small>Keywords related to <br /><code>{{keywords_str}}</code></small></h1>
        <ul class="mt-3 ps-3">
          <li class="mb-1"><strong>Matches</strong>: {{related | length}}</li>
        </ul>
      </div>

      {% if related | length > 0 %}
      <div class="col-md-6 col-lg-8">
        {% set col = related | length / 2 | int() %}
        <div class="row">

          <div class="col-lg-6">
            <dl class="row mb-0">
              <dt class="col-10 text-truncate">
                <strong>Keyword</strong>
              </dt>
              <dd class="col-2 text-end">
                <strong>Devs</strong>
              </dd>
              {% for ref in related | slice(start=0, end=col+1) %}
              <dt class="col-10 text-truncate">
                <a href="/?{{ref.k | urlencode}}">{{ref.k}}</a>
              </dt>
              <dd class="col-2 text-end">
                <small>{{ref.c}}</small>
              </dd>
              {% endfor %}
            </dl>
          </div>

          {% if related | length > 2 %}
          <div class="col-lg-6">
            <dl class="row mb-0">
              <dt class="col-10 text-truncate d-none d-lg-block">
                <strong>Keyword</strong>
              </dt>
              <dd class="col-2 text-end d-none d-lg-block">
                <strong>Devs</strong>
              </dd>
              {% for ref in related | slice(start=col+1) %}
              <dt class="col-10 text-truncate">
                <a href="/?{{ref.k | urlencode}}">{{ref.k}}</a>
              </dt>
              <dd class="col-2 text-end">
                <small>{{ref.c}}</small>
              </dd>
              {% endfor %}
            </dl>
          </div>
          {% endif %}

        </div>
      </div>
      {% else %}
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <h3 class="mt-5 ms-3">Couldn't find any languages, frameworks or libraries with <span class="font-monospace text-muted">{{keywords_str}}</span> in the name.</h3>
      </div>
      {% endif %}
    </div>

    {% include "includes/footer.html" %}

</body>

</html>