<!doctype html>
<html lang="en">

{% include "includes/head.html" %}

<body>
  {% include "includes/top-nav.html" %}
  <div class="container-fluid">
    <div class="row {% if related | length == 0 %}align-items-center{% endif %}">
      <div class="col-md-6 col-lg-4">
        <h1><code>{{keywords_str}}</code>-related libraries</h1>
        <ul class="mt-3 ps-3">
          <li class="mb-1"><strong>Matches found</strong>:
            {% set related_len = related | length %}
            {% if related_len > 99 %}
            more than
            {% endif %}
            {{pretty_num(v=related_len)}}
        </ul>

        {% if related | length > 0 %}
        <p class="text-muted">You can search for exact or partial library names to find developers using them. If you combine library names with other keywords: </p>
        <ul class="text-muted">
          {% for ref in related %}
          {% if ref.k is containing(".")%}
          <li class="mb-1">fully-qualified names like <code>{{ref.k}}</code> return a precise match on that library</li>
          {% break %}
          {% endif %}
          {% endfor %}

          {% for ref in related %}
          {% if ref.k is not containing(".")%}
          <li class="mb-1">singe keywords like <code>{{ref.k}}</code> match multiple libraries</li>
          {% break %}
          {% endif %}
          {% endfor %}

          {% for ref in related %}
          {% if ref.k is containing(".")%}
          {% set words = ref.k | split(pat=".") %}

          {% for word in words %}
          {% if word is containing(keywords_str) and word | length > keywords_str | length %}
          <li class="mb-1">if <code>{{keywords_str}}</code> is part of another keyword like <code>{{word}}</code> it will not match</li>
          {% set_global partial_match = true %}
          {% break %}
          {% endif %}
          {% endfor %}

          {% if partial_match %}{% break %}{% endif %}
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      {% if related | length > 0 %}
      <div class="col-md-6 col-lg-8">
        {% set col = related | length / 2 | int() %}
        <div class="row">

          <div class="col-lg-6">
            <dl class="row mb-0">
              <dt class="col-10 text-truncate">
                <strong>Keyword</strong>
              </dt>
              <dd class="col-2 text-end">
                <strong>Devs</strong>
              </dd>
              {% for ref in related | slice(start=0, end=col+1) %}
              <dt class="col-10 text-truncate">
                <a href="/?{{ref.k | urlencode}}">{{ref.k}}</a>
              </dt>
              <dd class="col-2 text-end">
                <small>{{ref.c}}</small>
              </dd>
              {% endfor %}
            </dl>
          </div>

          {% if related | length > 2 %}
          <div class="col-lg-6">
            <dl class="row mb-0">
              <dt class="col-10 text-truncate d-none d-lg-block">
                <strong>Keyword</strong>
              </dt>
              <dd class="col-2 text-end d-none d-lg-block">
                <strong>Devs</strong>
              </dd>
              {% for ref in related | slice(start=col+1) %}
              <dt class="col-10 text-truncate">
                <a href="/?{{ref.k | urlencode}}">{{ref.k}}</a>
              </dt>
              <dd class="col-2 text-end">
                <small>{{ref.c}}</small>
              </dd>
              {% endfor %}
            </dl>
          </div>
          {% endif %}

        </div>
      </div>
      {% else %}
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <h3 class="mt-5 ms-3">Couldn't find any languages, frameworks or libraries with <span class="font-monospace text-muted">{{keywords_str}}</span> in the name.</h3>
      </div>
      {% endif %}
    </div>

    {% include "includes/footer.html" %}

</body>

</html>